<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>That Was Yeezy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C910B1B01D4540C000CC100F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C910B1C91D4540C000CC100F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C910B1D41D4540C000CC100F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
